body {
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#myAudio::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

#myAudio {
    width: 0;
    height: 0;
    overflow: hidden;
}
